//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);


body{
  color: #525252;
  font-weight: 400;
}


/*
  MASTHEAD
*/
.masthead {
  background-color: #e6e6e6;
  border-top:4px solid #fff;
  height: 100px;
  #logo {
    display: block;
    height: 100px;
    width: 400px;
    margin-top: 4px;
    margin-left: -10px;
    overflow: hidden;
  }
  #signin {
    font-size:12px;
    font-weight: 300;
    background: white;
    padding: 0 10px 2px;
    border-radius: 0 0 4px 4px;
    a {
      font-weight: 600;
      .active {
        color: #005580;
        text-decoration: underline;
      }
    }
  }
}

/*
  NAVIGATION
*/
.navigation{
  height: 40px;
  background-color: #3e937e;
  border-bottom: 3px solid #25574b;
  .navbar {
    .nav {
      padding-left: 0;
    }
    .navbar-inner {
      box-shadow: none;
      background-color: #3e937e;
      background-image: none;
      border: none;
      padding-right: 0;
      a {
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        text-shadow: 0 -1px 0 #25574b;
      }
      .active a, a:hover {
          background-color: #25574b;
          color: #FFFFFF;
          text-shadow:none;
        }
    }
  }
}

/* FOOTER */
#footer {
  margin-top: 100px;
  padding: 30px 0 20px;
  background: #25574b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  a {
    color: #5dad99;
  }
  .active a {
    text-decoration: underline
  }
  .copy {
    margin-top: 40px;
    color: #3e937e;
  }
}


#home {

  #stage{
    width: 940px;
    height: 382px;
    overflow:hidden;
    margin-top:20px;
    background-image: url(../assets/start.jpg);
    ul {
       font-style: italic;
       font-size:16px;
       font-weight: 600;
       color:#3e937e;
    }
    h1{
   font-size:28px
    }
  }
  #stageBanner{
    position: relative;
    top: 280px;
    left: 230px;
    
    color: #FFFFFF;

  }
  #inner_stage{
  margin: 50px 0 0 420px;
  color:#ffff;


.no_transparancy{
    filter: alpha(opacity=100);
  opacity: 1.0;
}
  }


}

.page{
  min-height: 400px;

}

td.leftSide{
width:80px;
  
}

td.topSide{
  padding-top:30px;

}
td.rightSide{
padding-left:30px;
  
}

#highestBid{
background-color: #3e937e;
color:#ffffff;

font-size:18px;
  
}
.mainbody{
  margin-top: 20px;
}

#schedule{
  margin-top:50px;
  font-size:12px;
}

.emptyPigsRating{
position:absolute;
width:167px;
height:20px;
background-image: url(../assets/5pigs_empty.png);  
background-size: 100%;
}

.fullPigsRating{
position:absolute;
width:167px;
height:20px;
background-image: url(../assets/5pigs.png);
background-size: auto 100%;
  
}


.comment{
 background-color:#ffffff;
margin-bottom: 10px;

}
.rating{
  
margin-bottom: 40px;

}

#main_data{

.amountOfRatings{
margin-left:180px;
  
}
}
#main_data{

   margin-top: 20px;


}

#time_box{
  
  font-size:16px;
}

#bid_box{
  margin-top:50px;
}

label{
  width:150px;
}

label.radio{
  width:300px;
}

#teasers{
margin:20px 0;
padding-left:20px;
overflow:visible;
width:960px;


.teaser{
float:left;
margin-right:20px;
height:150px;
  
}

.teaser_text{
position:absolute;
margin-top: -35px;
padding:7px;
width: 290px;
text-align: right;
font-size: 18px;
height: 25px;
color: #ffffff;
background-color: #3e937e;


}

.teaser_text:hover{

  background-color: #25574b;
  height: 35px;
  margin-top: -35px;
  }

}