body {
  color: #525252;
  font-weight: 400;
}
/*
  MASTHEAD
*/
.masthead {
  background-color: #e6e6e6;
  border-top: 4px solid #fff;
  height: 100px;
}
.masthead #logo {
  display: block;
  height: 100px;
  width: 400px;
  margin-top: 4px;
  margin-left: -10px;
  overflow: hidden;
}
.masthead #signin {
  font-size: 12px;
  font-weight: 300;
  background: white;
  padding: 0 10px 2px;
  border-radius: 0 0 4px 4px;
}
.masthead #signin a {
  font-weight: 600;
}
.masthead #signin a .active {
  color: #005580;
  text-decoration: underline;
}
/*
  NAVIGATION
*/
.navigation {
  height: 40px;
  background-color: #3e937e;
  border-bottom: 3px solid #25574b;
}
.navigation .navbar .nav {
  padding-left: 0;
}
.navigation .navbar .navbar-inner {
  box-shadow: none;
  background-color: #3e937e;
  background-image: none;
  border: none;
  padding-right: 0;
}
.navigation .navbar .navbar-inner a {
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #25574b;
}
.navigation .navbar .navbar-inner .active a,
.navigation .navbar .navbar-inner a:hover {
  background-color: #25574b;
  color: #FFFFFF;
  text-shadow: none;
}
/* FOOTER */
#footer {
  margin-top: 100px;
  padding: 30px 0 20px;
  background: #25574b;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}
#footer a {
  color: #5dad99;
}
#footer .active a {
  text-decoration: underline;
}
#footer .copy {
  margin-top: 40px;
  color: #3e937e;
}
#home #stage {
  height: 382px;
  background-image: url(../assets/start.jpg);
}
#home #stage ul {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #3e937e;
}
#home #stageBanner {
  position: relative;
  top: 280px;
  left: 230px;
  color: #FFFFFF;
}
.page {
  min-height: 400px;
}
.mainbody {
  margin-top: 50px;
}
